<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="align-items-center mb-4">
        <h1 class="h1 mb-0 text-danger text-center font-weight-bold">Welcome to WebCS!</h1>
    </div>
    
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-6 mb-4 mx-auto">
    
            <!-- Vision -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">UNIVERSITY MISSION</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                    </div>
                    <p> <center>A university committed to producing leaders by providing a 21st century learning environment through innovations in education,
                        multidisciplinary research, and community and industry partnerships in order to nurture the spirit of nationhood,
                        propel the national economy, and engage the world for sustainable development. </center>  </p>
                </div>
            </div>
    
            <!-- Mission -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">UNIVERSITY VISION</h6>
                </div>
                <div class="card-body">
                    <p> <center>A premier national university that develops leaders in the global knowledge economy. </center>  </p>
                </div>
            </div>

            <!-- Core Values -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">CORE VALUES</h6>
                </div>
                <div class="card-body">
                    <p><center>Patriotism</center>
                    </p>
                    <p><center>Service</center>
                    </p>
                    <p><center>Integrity</center>
                    </p>
                    <p><center>Resilience</center>
                    </p>
                    <p><center>Excellence</center>
                    </p>
                    <p><center>Faith</center>
                    </p>
                </div>
            </div>
    
        </div>
    </div>
    
    </div>
    <!-- /.container-fluid -->